.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* شفافية 30% */
  z-index: 0;
}

.home-container > * {
  position: relative;
  z-index: 1;
}

.home-container::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* طبقة خفيفة لعتمة الصورة */
  z-index: -1;
}