.bg-image-tootAnkhAmon {
  background-image: url("../public/images/Ancient/egyptKing1.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-nevertety {
  background-image: url("../public/images/Ancient/egyptKing2.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-ramses {
  background-image: url("../public/images/Ancient/egyptKing3.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-kelopatra {
  background-image: url("../public/images/Ancient/egyptKing4.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-mina {
  background-image: url("../public/images/Ancient/egyptKing5.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-oserkaf {
  background-image: url("../public/images/Ancient/egyptKing6.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-khofo {
  background-image: url("../public/images/Ancient/egyptKing7.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-khafraa {
  background-image: url("../public/images/Ancient/egyptKing8.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-mankaure {
  background-image: url("../public/images/Ancient/egyptKing9.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-pyramids1 {
  background-image: url("../public/images/Ancient/pyramids1.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-pyramids2 {
  background-image: url("../public/images/Ancient/pyramids2.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-pyramids3 {
  background-image: url("../public/images/Ancient/pyramids3.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-pyramids4 {
  background-image: url("../public/images/Ancient/Pyramids4.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-camp1 {
  background-image: url("../public/images/Camps/camp1.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-camp2 {
  background-image: url("../public/images/Camps/camp2.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-camp3 {
  background-image: url("../public/images/Camps/camp3.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-camp4 {
  background-image: url("../public/images/Camps/camp4.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-coralReefs1 {
  background-image: url("../public/images/CoralReef/coralReefs1.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-coralReefs2 {
  background-image: url("../public/images/CoralReef/coralReefs2.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-coralReefs3 {
  background-image: url("../public/images/CoralReef/coralReefs3.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-airPalon1 {
  background-image: url("../public/images/AirPalon/airPalon1.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-airPalon2 {
  background-image: url("../public/images/AirPalon/airPalon2.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-maabed1 {
  background-image: url("../public/images/Maabed/maabed1.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-maabed2 {
  background-image: url("../public/images/Maabed/maabed2.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-maabed3 {
  background-image: url("../public/images/Maabed/maabed3.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-maabed4 {
  background-image: url("../public/images/Maabed/maabed4.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-maabed5 {
  background-image: url("../public/images/Maabed/maabed5.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-image1 {
  background-image: url("../public/images/water/image1.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-image2 {
  background-image: url("../public/images/water/image2.jpg");
  background-size: cover;
  background-position: center;
}

.bg-image-image3 {
  background-image: url("../public/images/water/image3.jpg");
  background-size: cover;
  background-position: center;
}